$icon-font-path: '../fonts/';

// add this before the bower injector
@import '../../bower_components/bootswatch/cerulean/variables';
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import '../../bower_components/bootswatch/cerulean/bootswatch';
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #BFD7E1;
}

thead{
    background-color: #5A7FAD;
    color: white;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }

    .dynamicAlign{
        text-align: right;
    }

}

@media screen and (min-width: 0px) and (max-width: 768px){
    .dynamicAlign{
        text-align: left;
    }
}

a.top {
    position: relative;
    top:-100px;
    display: block;
    height: 0;
    width:0;
}

a.topminus{
    position: relative;
    top: 40px;
    display: block;
    height: 0;
    width:0;
}

.img-circle{
    width: 100px;
    height: 100px;
}

#marge{
    margin-left: 15px;	
}

.modal-body{
    margin-left: -35px;
}

.clickable {
    cursor: pointer;
}

.list-group-item-perso{
    background-color: #D6D29D;
    color: #878B00;
}

.list-group-item-perso2{
    background-color: #A193F1;
    color: #011E5B;
}

.can{
    margin-bottom: 30px;
}